@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
* {
    font-family: "PT Sans", sans-serif;
}

html,
body,
#root {
    height: 100%;
    background-image: url(/public/imgs/bg3.jpeg);
    background-position-x: center;
    background-position-y: center;
    background-size: initial;
    background-repeat: repeat;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

table,
td {
    border: 1px solid rgb(0, 141, 184);
    text-align: center;
}

thead {
    background-color: rgb(47, 67, 255);
    color: #fff;
}

th {
    padding: 5px;
}

.zoom-hover {
    transition: transform .1s ease;
}

.zoom-hover:hover {
    transform: scale(1.05);
}

.zoom-hover-half {
    transition: transform .1s ease;
}

.zoom-hover-half:hover {
    transform: scale(1.5);
}